.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left{
    width: 40%;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    /* position: fixed; */
    top: 0;
    bottom: 0;
}
.right{
    width: 60%;
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
  flex-direction: column;
}
.upper{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.group{
    display: flex;
    width: 85%;
}
.image{
    height: 110px;
    width: 120px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow:
    3.5px 3.4px 2.7px rgba(0, 0, 0, 0.016),
    8.9px 8.7px 6.9px rgba(0, 0, 0, 0.022),
    18.1px 17.7px 14.2px rgba(0, 0, 0, 0.028),
    37.2px 36.5px 29.2px rgba(0, 0, 0, 0.034),
    102px 100px 80px rgba(0, 0, 0, 0.05)
  ;
}
.image img{
    width: 100%;
    height: auto;
    display: block;
}
.details{
    height: 140px;
    width: 72%;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}
.name{
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-family: Helvetica;
    font-size: xx-large;
    font-weight: 400;
    color: #445D48;
}
.designation{
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-family: Helvetica;
    font-size: large;
    font-weight: 300;
    color: #a2a3a1;
}
.about{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    font-family: Helvetica;
    font-size: small;
    font-weight: 300;
    
    color: #b0b1ad;
}
.lower{
    width: 100%;
    height: 60%;
}
.sections{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end; 
    /* align-items: center;  */
    flex-direction: column;
}

.cov{
    width: 42%;
    display: flex;
    justify-content: end;
}
.cov2{
    width: 58%;
    display: flex;
    justify-content: start;
}
.first,.second,.third{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848684 ;
    font-size: medium;
}
.first:hover,.second:hover,.third:hover{
    transition: 0.3s;
    font-size: large;
    color: #606160 ;
}
.inner1{
    margin-right: 10px;
    width: 30px;
    border-bottom: 2px solid #b0b1ad;
}
.first:hover .inner1,
.second:hover .inner1,
.third:hover .inner1 {
    transition: 0.3s;
    width: 40px; /* Increase the width to 40px when hovering */
    border-bottom: 2px solid #b0b1ad;
}

.links{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkgroup{
    display: flex;
    width: 170px;
    justify-content: space-between;
}
.one,.two,.three,.four{
    width: 25px;
    height: 25px;


}

@media(max-width:800px){
    .container{
        flex-direction: column;
    }
    .left,.right{
        width: 100%;
    }
    .name{
        font-size: large;
    }
}