<div class="container">
  <div class="left">
    <div class="upper">
      <div class="group">
        <div class="image">
          <img src="../assets/profile.jpeg" alt="">
        </div>
        <div class="details">
          <div class="name">
            Muhammed Sayeed
          </div>
          <div>
            <div class="designation">
              MEAN stack developer
            </div>
            <div class="about">
              I like to craft solid and scalable web applications with great user experiences.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower">
      <div class="sections">

      </div>
      <div class="links">

      </div>
    </div>
  </div>
  <div class="right">

  </div>
</div>